.popup {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important; /* Modificado de 100% para 100vw para garantir cobertura total */
    height: 100vh !important;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 99999 !important; /* Aumentado para garantir que fique acima de TUDO na página */
}

.popupinner {
    position: relative;
    padding: 32px;
    width: 70%;
    background-color: #EBEBEB;
    border-radius: 27px;
    font-size: 110%;
    font-family: Inter;
    font-weight: 500;
}

.popupinner .closebtn {
    position: absolute;
    top: -20px;
    right: -20px;
    border: none;       
    border-radius: 50%;
    background-color: #353535;
    color: white;         
    padding: 3px 15px;
    cursor: pointer;
    font-size: 4vb;
    align-items: center;
}

.popupinner .closebtn:hover {
    position: absolute;
    top: -20px;
    right: -20px;
    border: none;       
    border-radius: 50%;
    background-color: #FF4F4F;
    color: white;         
    padding: 4px 16px;
    cursor: pointer;
    font-size: 4vb;
    align-items: center;
}